.profile {
  max-width: 410px;
  padding: 74px 0 70px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.profile__title {
  margin: 0;
  padding: 0;
  margin-bottom: 123px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile__field {
  min-height: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  cursor: text;
}

.profile__input {
  margin: 0;
  padding: 0;
  width: 350px;
  text-align: right;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  border: none;
  outline: none;
  background-color: #202020;
  color: #fff;
}

.profile__input:focus {
  background-color: #4285f4;
}

.profile__field_border {
  border-bottom: 1px solid #424242;
  margin-bottom: 17px;
}

.profile__button-save {
  margin-top: 202px;
  min-height: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  border: none;
  color: #fff;
  background-color: #202020;
  cursor: pointer;
}

.profile__logout {
  margin-top: 16px;
  min-height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ff4062;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .profile {
    padding-top: 236px;
    padding-bottom: 269px;
  }

  .profile__title {
    margin-bottom: 96px;
  }

  .profile__button-save {
    margin-top: 193px;
  }
}

@media screen and (max-width: 576px) {
  .profile {
    padding: 70px 30px 40px 30px;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .profile__input {
    width: 150px;
  }

  .profile__button-save {
    margin-top: 362px;
    font-size: 12px;
    line-height: 15px;
  }

  .profile__logout {
    font-size: 12px;
    line-height: 15px;
  }
}
