.promo {
  box-sizing: border-box;
  position: relative;
  background-color: #073042;
}

.promo__container {
  height: auto;
  min-height: 493px;
  color: #ffffff;
  display: grid;
  grid-template-areas: 'b a' 'c a' 'd a';
  grid-template-columns: 710px 570px;
  grid-template-rows: 280px 178px auto;
}

.promo__title {
  grid-area: b;
  margin: 70px auto 36px 70px;
  width: 640px;
  height: 174px;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 58px;
  text-align: left;
}

.promo__subtitle {
  grid-area: c;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 70px;
  margin-top: 0;
  color: #ffffff80;
}

.promo__button {
  grid-area: d;
  background-color: #073042;
  color: #ffffff;
  font-size: 12px;
  width: 129px;
  height: 36px;
  border: 2px solid #ffffff99;
  border-radius: 3px;
  margin-left: 70px;
  margin-bottom: 75px;
}

.promo__landing-logo {
  margin: 75px 70px 145px 190px;
  grid-area: a;
  width: 310px;
  height: 304px;
  background-image: url('../../images/landing-logo.svg');
}

@media screen and (max-width: 1290px) {
  .promo {
    display: block;
    align-items: center;
    justify-content: center;
  }
  .promo__container {
    width: 1024px;
    min-height: 834px;
    grid-template-columns: 640px 380px;
    grid-template-rows: 200px 100px auto;
    margin: 0 auto;
  }
  .promo__title {
    max-width: 640px;
    font-size: 40px;
    line-height: 50px;
    margin: 70px auto 0 0;
  }
  .promo__subtitle {
    margin-left: 0;
  }
  .promo__button {
    margin: 0 auto 0 0;
  }
  .promo__landing-logo {
    margin-left: 70px;
  }
}

@media screen and (max-width: 1023px) {
  .promo__container {
    min-height: 834px;
    max-width: 768px;
    grid-template-areas: 'a' 'b' 'c' 'd';
    grid-template-columns: 768px;
    grid-template-rows: 492px 125px auto;
    justify-items: center;
  }
  .promo__landing-logo {
    margin: 140px auto 48px auto;
  }
  .promo__title {
    max-width: 680px;
    font-size: 40px;
    line-height: 50px;
    margin: auto;
    text-align: center;
  }
  .promo__subtitle {
    margin-left: 0;
    text-align: center;
    width: 260px;
  }
  .promo__button {
    display: block;
    margin: 10px auto 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .promo__container {
    width: min-content;
    min-height: min-content;
    grid-template-rows: 320px 125px min-content min-content;
    grid-template-columns: min-content;
    margin: 0 auto;
  }
  .promo__landing-logo {
    width: 210px;
    height: 206px;
    margin: 70px auto 44px auto;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .promo__title {
    max-width: 300px;
    font-size: 30px;
    line-height: 38px;
    font-weight: 400;
    letter-spacing: -0.04em;
    margin: auto;
    text-align: center;
  }
  .promo__subtitle {
    margin-top: 15px;
    width: 260px;
    height: min-content;
    margin: 15px auto 70px auto;
    text-align: center;
  }
  .promo__button {
    margin: 10px auto 76px auto;
  }
}
