.info-user {
  display: flex;
  flex-direction: column;
  min-height: 272px;
  width: 100%;
}

.info-user__field {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin: 0;
  padding: 5px 0 10px 0;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background-color: #202020;
  border: none;
  border-bottom: 1px solid #424242;
  outline: none;
}
.info-user__field_email {
  border: none;
}

.info-user__button-edit {
  align-self: flex-end;
  margin-top: 210px;
  width: 396px;
  height: 16px;
  border: none;
  color: white;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  cursor: pointer;
  background-color: #202020;
}
